.arial{
  font-family : "arial";
}

#white-text{
  color:white;
}
#dimgray{
  background-color:dimgray;

}
#darkgray{
  background-color:darkgray;
    height:250px;
}
.foo-head1{
  background-color:lightgray;
  color:white;
  text-align:center;
}
#no-bullet{
  list-style: none;
  color:white;
  text-decoration: none;
}
.center{
  text-align:center;
}
.nav-foo{
  position:relative;
  left:40px;
}

.main-foo{
  position:absolute;
  left:300px;
  top:60px;
}
.cp-right{
  position:absolute;
  right:30px;
  top:200px;
  color:darkgray;
}
.cp-right::before{
  content:"\a\a\a\a\a";
  white-space:pre;
}
